body {
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
  overflow: auto;
}

html {
  height: 100%;
  min-height: 100%;
  background-color: black;
  overflow: auto;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 22px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin: 20px;
}

input {
  font-size: 20px;
}

#auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#auth-form input {
  width: 300px;
}

#auth-form button {
  margin-top: 10px;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
}

label {
  display: block;
  font-size: 22px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  height: 100%;
}

#app-container {
  height: 100%;
  overflow: auto;
}

#auth-screen-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth-screen-container h1 {
  text-shadow: 4px 4px black;
}

#auth-screen-container h2 {
  text-shadow: 3px 3px black;
}

#auth-screen-container p {
  text-shadow: 2px 2px black;
}

.background-img {
  background-image: url('/grouppose.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#auth-screen-foreground {
  position: absolute;
  background-color: transparent;
  z-index: 50;
  color: white;
}

#navbar {
  background-color: navy;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#board-container, #add-container {
  background-color: white;
  width: 70%;
  height: 100%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  padding: 100px;
  padding-top: 50px;
  overflow: auto;
}

#add-square-form {
  display: flex;
  flex-direction: column;
}

#add-square-form p {
  font-size: 14px;
}

#add-square-form div{
  display: flex;
  align-items: center;
}

#add-square-form input {
  margin-left: 30px;
  margin-right: 10px;
  width: 500px;
}

#add-square-form button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#all-squares {
  height: auto;
  overflow: visible;
}

#all-squares p {
  margin: 10px;
}

#all-squares p:hover {
  background-color: lavender;
}

#board {
  border: 2px solid black;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 0px;
  margin-top: 30px;
}

#bingo-header {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  font-size: 32px;
  border: 1px solid black;
  width: 100%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  padding: 10px;
}

.board-square {
  border: 1px solid black;
  height: 120px;
  width: 120px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  padding: 20px;
}

#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggled {
  background-color: lightgreen;
}